<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zero1"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    <instrumentation 
        android:name="android.test.InstrumentationTestRunner"
      	android:targetPackage="com.example.zero1"
   	 	android:label="Test for application!"/>

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light"
         >

        <!-- 如何根据level选择主题？？ -->
        <activity
            android:name="com.example.zero1.AppActivity"
            android:label="@string/app_name" 
            android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.zero1.CityChoose"
            android:exported="true" >
        </activity>
        <activity
            android:name="com.example.zero1.DateChoose"
            android:exported="true" >
        </activity>
        <activity
            android:name="com.example.zero1.InitActivityMainActivity"
            android:label="@string/title_activity_init_activity_main" >
        </activity>
        <activity
            android:name="com.example.zero1.TrainsInfoActivity"
            android:label="@string/title_activity_trains_info" >
        </activity>
        <uses-library android:name="android.test.runner"/>
    </application>

</manifest>
